/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sono&display=swap');

/* General styling for whole site */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Sono, sans-serif;
    background-color: #ffe6ea;
    font-weight: 400;
    height: 100%;
    font-size: 1vw;
}

/* Styling targeting specific labels */

em {
    font-family: Pacifico, sans-serif;
    font-size: 3vw;
    letter-spacing: 8px;
}

h1 {
    text-decoration: none;
    word-spacing: 2px;
    line-height: 4px;
    letter-spacing: 5px;
    color: white;
}

/* Styling for header, navigation and event panels */

.header1 {grid-area: header;
    border-bottom: 2px solid #b300b3;
    background: url("../images/cool-background.png") no-repeat center;
    background-size: cover;
}
.nav1 {grid-area: top-right;
    background: url("../images/cool-background.png") repeat;
    background-size: cover;
    font-size: 400;
    font-weight: 500;
}
.events {grid-area: side-bar-left;
    writing-mode: vertical-lr;
    transform: scale(-1);
    text-align: center;
}
.event1 {grid-area: events-left1;
    background-color: lavender;
    font-weight: 400;
    text-align: center;
    padding-left: 2px;
    margin-left: 2px;
    border-left: 2px solid #b300b3;
}

.event2 {grid-area: events-left2;
    background-color: plum;
    font-weight: 400;
    text-align: center;
    padding-left: 2px;
    margin-left: 2px;
    border-left: 2px solid #b300b3;
}

.event3 {grid-area: events-left3;
    background-color: orchid;
    font-weight: 400;
    text-align: center;
    padding-left: 2px;
    margin-left: 2px;
    border-left: 2px solid #b300b3;
}

.event1 > details > summary > h3, .event2 > details > summary > h3, .event3 > details > summary > h3 {
    text-decoration: underline;
}

/* Styling for main middle sections */

.main1 {grid-area: main-top;
}
.main2 {grid-area: main-bottom;
}

/* Styling for image in center-right of page */

.centerpiece {grid-area: right;
    background: url("../images/cat-looks-up.jpg") no-repeat center;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20% 0 0;
    opacity: 0.5;
}

/* Styling for footer */

.footer1 {grid-area: left-footer;
    border-top: 2px solid #b300b3;
    text-align: center;
    font-weight: bold;
}
.footer2 {grid-area: middle-footer;
    border-top: 2px solid #b300b3;
    display: flex;
    justify-content: space-evenly;
}
.footer3 {grid-area: right-footer;
    border-top: 2px solid #b300b3;
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
}

/* Styling for grid container as a whole */

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 2fr 2fr;
    grid-template-areas: 
    'header header header header header header header top-right'
    'side-bar-left events-left1 events-left1 main-top main-top main-top right top-right'
    'side-bar-left events-left1 events-left1 main-top main-top main-top right top-right'
    'side-bar-left events-left1 events-left1 main-top main-top main-top right top-right'
    'side-bar-left events-left2 events-left2 main-top main-top main-top right top-right'
    'side-bar-left events-left2 events-left2 main-bottom main-bottom main-bottom right top-right'
    'side-bar-left events-left2 events-left2 main-bottom main-bottom main-bottom right top-right'
    'side-bar-left events-left3 events-left3 main-bottom main-bottom main-bottom right top-right'
    'side-bar-left events-left3 events-left3 main-bottom main-bottom main-bottom right top-right'
    'side-bar-left events-left3 events-left3 left-footer left-footer middle-footer middle-footer right-footer';
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    background-color: #99b3ff;
}

/* Styling that applies to both main sections and main headings */

.main1, .main2 {
    background-color: #99b3ff;
    margin: 0;
    color: black;
    padding: 5px 5px;
    overflow: auto;
    font-size: 1vw;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 600;
}

.main1 > h2, .main2 > h2 {
    font-family: Pacifico, sans-serif;
    line-height: 30px;
    margin-bottom: 8px;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: underline;
    font-weight: 300;
    text-align: center;
    padding-right: 2px;
    margin-top: 10px;
}

.main1 > p, .main2 > p, .main1 > h3, .main2 > h4 {
    text-align: center;
    margin-top: 20px;
}

.header1 > a, .nav1 > ul, a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    line-height: 20px;
    gap: 5px;
    text-align: center;
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    color: #b300b3;
    font-size: 1.2vw;
    font-weight: bold;
}

/* Styling for social media links in footer */

.footer2 > ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    line-height: 3px;
    margin-top: 5px;
    gap: 2px;
    text-align: left;
    list-style-type: none;
    font-size: 1.1vw;
}

.social-networks i {
    font-size: 120%;
    margin-right: 3px;
    padding-right: 3px;
    align-items: left;
    width: 2.5vw;
    color: black;
}

/* Styling for hover on navigation links and highlighting page currently open */

.nav1 > ul > li > a:hover {
    border-bottom: 1px solid mediumpurple;
}

.active {
    border-bottom: 1px solid mediumpurple;
}


input[type=text], select {
    width: 100%;
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #b300b3;
    color: white;
    padding: 8px 8px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Pacifico, sans-serif;
    font-size: 1.1vw;
    letter-spacing: 3px;
}

input[type=submit]:hover {
    background-color: mediumpurple;
}

input[type=textarea] {
    width: 100%;
    color: black;
    padding: 8px 8px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
}
