/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sono&display=swap');

/* Set general rules for all sections */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Sono, sans-serif;
    font-weight: 400;
    color: #4C3319;
}

header {
    font-family: Pacifico, sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    color: #4C3319;
}

header > a {
    line-height: 2;
    justify-content: left;
    letter-spacing: 20px;
}

header a h1 {
    margin: 0 2em;
}

em {
    font-style: normal;
    font-size: 120%;
    text-transform: uppercase;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    flex-grow: 1;
    justify-content: right;
    text-align: right;
    letter-spacing: 5px;
}

#nav-menu li {
    margin: 2em;
}

/*
header h1, #paw {
    font-family: Pacifico, sans-serif;
    letter-spacing: 30px;
    color: #9E5E04;
    font-weight: 400;
}
*/

h2, p {
    font-family: Sono, sans-serif;
    margin: 10px 10px;
    text-align: center;
    line-height: 2;
    font-size: 12px;
    font-size: 1.2vw;
}

p {
    color: whitesmoke;
    font-weight: 400;
    margin: 0 5px;
}

/*
#nav-menu, #logo, #paw {
    line-height: 30px;
}

#logo {
    float: left;
    font-size: 400%;
    margin: 20px;
}

#paw {
    font-size: 300%;
    margin: 20px;
}
*/

#flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: whitesmoke;
}

#flex-column > div {
    display: flex;
    justify-content: space-evenly;
}

.index-column {
    flex-grow: 1;
}

#help-info {
    margin-left: 10px;
    margin-right: 10px;
}

/* Styling for navigation menu */

/* #nav-menu {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
}

#nav-menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#nav-menu a {
    text-decoration: none;
    color: #271401;
}

*/

/* Styling for hovering over navigation menu options with mouse */

#nav-menu a:hover {
    border-bottom: 1px solid #EF8C00;
}

.active {
    border-bottom: 1px solid #EF8C00;
}

footer {
    display: flex;
}

footer div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Styling for index page */

/*

#help-info, #rehome-choices, #events {
    height: 320px;
    padding-top: 0;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#rehome-choices div {
    color: #271401;
    width: 33.333%;
    float: left;
    padding: 30px 10% 0 10px;
    box-sizing: border-box;
    height: 320px;
    overflow: hidden;
}

#rehome-choices a {
    height: 240px;
    width: 160px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #EF8C00;
    display: inline-block;
    padding-right: 60px;
    margin-right: 60px;
    text-align: left;
}

#rehome-choices > h2 > p {
    height: 240px;
    width: 160px;
    display: inline-block;
    padding-right: 60px;
    margin-right: 60px;
    text-align: left;
    font-size: 100%;
}

*/

/* #top-space div {
    background-color: whitesmoke;
    height: 80px;
}

#bottom-space div {
    background-color: whitesmoke;
    height: 80px;
}

*/

/* #help-info div {
    color: #fafafa;
    background-color: #4C3319;
    width: 33.333%;
    height: 350px;
    float: left;
    box-sizing: border-box;
    padding: 20px 5px 0 20px;
    text-align: left;
}

*/

#cute-image {
    background: url("../images/kitten-asleep.jpg") no-repeat center;
    background-size: cover;
    background-color: #4C3319;
}

/* #events div {
    color: whitesmoke;
    background-color: chocolate;
    width: 20%;
    height: 350px;
    float: left;
    padding: 10px 0 0 30px;
    text-align: left;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}
*/

/* Styling for cards */

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.pet-column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.rehome-choices {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.index-column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.info-column {
    float: left;
    width: 33.33%;
    padding: 0;
}

.row, .pet-row, .index-row, .info-row, .events-row {
    margin: 0 -5px;
    background-color: whitesmoke;
}

.row:after, .pet-row:after, .index-row:after, .info-row:after, .events-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column, .pet-column, .index-column, .info-column, .events-column, .events-column-banner {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card-photo, .pet-photo, .rehome-photo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 300px;
    text-align: center;
    background-color: chocolate;
}

.info-block {
    padding: 0;
    height: 350px;
    text-align: center;
    text-overflow: none;
    background-color: #4C3319;
    color: whitesmoke;
    overflow: auto;
}

.event-normal {
    text-align: left;
    text-overflow: none;
    width: 100%;
    font-size: small;
    background-color: chocolate;
    color: whitesmoke;
    line-height: 1rem;
}

.events-column {
    float: left;
    padding: 0 10px;
    display: flex;
    width: 20%;
    flex-direction: inline-row;
    height: 450px;
    background-color: whitesmoke;
}

.events-column-banner {
    height: 450px;
    padding-bottom: 60px;
    text-align: right;
    background-color: #4C3319;
    color: whitesmoke;
    font-size: smaller;
    overflow: hidden;
    writing-mode: vertical-rl;
}

.vet-banner {
    width: 20px;
}

#dog-rehome {
    background: url("../images/dog-big-eyes.jpg") no-repeat top/110%;
    height: 350px;
    background-size: cover;
}

#cat-rehome {
    background: url('../images/cat-looks-up.jpg') no-repeat center/105%;
    height: 350px;
    background-size: cover;
}

#other-rehome {
    background: url('../images/guinea-big-orange.jpg') no-repeat bottom/110%;
    height: 350px;
    background-size: cover;
}

#manager {
    background-image: url("../images/stephanie-stepwell.jpg");
    height: 350px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

#receptionist {
    background-image: url("../images/derek-daley.jpg");
    height: 350px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

#vet {
    background-image: url("../images/teresa-tully.jpg");
    height: 350px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-blurb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 200px;
    padding: 16px;
    text-align: center;
    color: whitesmoke;
    background-color: #4C3319;
    overflow: auto;
}

.pet-blurb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 200px;
    padding: 16px;
    text-align: center;
    background-color: chocolate;
    color: whitesmoke;
    overflow: auto;
}

.rehome-blurb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 200px;
    padding: 16px;
    text-align: center;
    background-color: chocolate;
    color: whitesmoke;
    overflow: auto;
}


/* Long term resident section styling */
#terry {
    background-image: url("../images/terry.jpg");
    height: 450px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#boyle {
    background-image: url("../images/boyle.jpg");
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#santiago {
    background-image: url("../images/santiago.jpg");
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#holt {
    background-image: url("../images/holt.jpg");
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#peralta {
    background-image: url("../images/peralta.jpg");
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer styling */

footer div {
    color: #271401;
    background-color: whitesmoke;
    float: left;
    padding: 10px 10px;
    text-align: center;
    box-sizing: border-box;
}

footer p, a, li {
    color: #271401;
    text-decoration: none;
    list-style-type: none;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #9E5E04;
}