@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Sono, sans-serif;
    font-weight: 400;
    color: #4C3319;
}

header h1, #paw {
    font-family: Pacifico, sans-serif;
    letter-spacing: 15px;
    color: #9E5E04;
    font-weight: 400;
}

h2, p {
    font-family: Sono, sans-serif;
}

p {
    color: silver;
    font-weight: 400;
}

#nav-menu, #logo, #paw {
    line-height: 30px;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 15px 0 0 15px;
}

#paw {
    float: left;
    font-size: 200%;
    margin: 60px 0 0 0;
}

header, footer div {
    background-color: whitesmoke;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#nav-menu li {
    list-style-type: none;
    margin: 15px 15px 0 30px;
    text-align: right;
}

#nav-menu a {
    text-decoration: none;
    color: #271401;
}

#nav-menu a:hover {
    border-bottom: 1px solid #EF8C00;
}

.active {
    border-bottom: 1px solid #EF8C00;
}

#help-info, #rehome-choices, #events {
    height: 320px;
    padding-top: 0;
    background-color: silver;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#rehome-choices div {
    color: #fafafa;
    background-color: whitesmoke;
    width: 33.333%;
    height: 350px;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    box-sizing: border-box;
}

#help-info div {
    color: #fafafa;
    background-color: #4C3319;
    width: 33.333%;
    height: 350px;
    float: left;
    padding: 30px 10% 0 30px;
    text-align: left;
    box-sizing: border-box;
}

#cute-image {
    background: url("../images/kitten-asleep.jpg") no-repeat bottom/110%;

    animation-name: cute-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cute-zoom {
    from {
        transform: scale(1.0)
    }
    to {
        transform: scale(1.1)
    }
}

#events div {
    color: #fafafa;
    background-color: chocolate;
    width: 33.333%;
    height: 350px;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    box-sizing: border-box;
}

footer div {
    color: #271401;
    background-color: whitesmoke;
    width: 33.333%;
    height: auto;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    box-sizing: border-box;
}